.model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 3px 3px;
    padding: 8px;
    border-radius: 8px;
    min-height: 300px;
    min-width: 500px;
    height: -webkit-fill-available;
}
